.EventCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: gray;
  border-radius: 5px;
  margin-top: 20px;
  width: 18em;
  height: 38em;
  box-shadow: 5px 5px 8px rgba(148, 148, 148, 0.8);
  margin: 20px 20px;

  .event-card-img {
    height: 15em;
    width: 18em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .event-details {
    padding: 0 18px 8px 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .event-name {
      text-align: center;
      margin: 15px;
    }

    .event-description {
      margin: 10px;
    }

    .icons {
      margin: 10px;
    }

    .details-btn {
      background-color: $primary-colour;
      color: #fff;
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 100%;
      font-size: 20px;
      align-self: flex-end;
    }

    i {
      margin-right: 5px;
      font-size: 20px;
    }
  }
}
